In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

In [4]:
from io import StringIO
data = """, Animal, Cuteness, Desirable
row-1, dog, 8.7, True
row-2, cat, 9.5, True
row-3, bat, 2.6, False"""
df = pd.read_csv(StringIO(data), header=0,
index_col=0, skipinitialspace=True)

In [5]:
df

       Animal   Cuteness  Desirable
row-1     dog        8.7       True
row-2     cat        9.5       True
row-3     bat        2.6      False

In [8]:
data

', Animal, Cuteness, Desirable\nrow-1, dog, 8.7, True\nrow-2, cat, 9.5, True\nrow-3, bat, 2.6, False'

In [11]:
df.columns[0]

' Animal'

In [10]:
df.index

Index(['row-1', 'row-2', 'row-3'], dtype='object')

In [12]:
s1 = Series(range(6))
s2 = s1 * s1
s2

0     0
1     1
2     4
3     9
4    16
5    25
dtype: int64

In [13]:
s2.index = s2.index + 2 # misalign indexes
s2

2     0
3     1
4     4
5     9
6    16
7    25
dtype: int64

In [14]:
df = pd.concat([s1, s2], axis=1)
df

     0     1
0  0.0   NaN
1  1.0   NaN
2  2.0   0.0
3  3.0   1.0
4  4.0   4.0
5  5.0   9.0
6  NaN  16.0
7  NaN  25.0

In [15]:
s3 = Series({'Tom':1, 'Dick':4, 'Har':9})
s3

Tom     1
Dick    4
Har     9
dtype: int64

In [16]:
s4 = Series({'Tom':3, 'Dick':2, 'Mar':5})
s4

Tom     3
Dick    2
Mar     5
dtype: int64

In [17]:
df = pd.concat({'A':s3, 'B':s4 }, axis=1)
df

/Users/yucheng/anaconda/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

        A    B
Dick  4.0  2.0
Har   9.0  NaN
Mar   NaN  5.0
Tom   1.0  3.0

In [18]:
df = DataFrame({
'col0' : [1.0, 2.0, 3.0, 4.0],
'col1' : [100, 200, 300, 400]
})
df

   col0  col1
0   1.0   100
1   2.0   200
2   3.0   300
3   4.0   400

In [21]:
df = DataFrame.from_dict({ # data by row
# rows as python dictionaries
'row0' : {'col0':0, 'col1':'A'},
'row1' : {'col0':1, 'col1':'B'}
}, orient='index')
df

      col0 col1
row0     0    A
row1     1    B

In [37]:
df = DataFrame.from_dict({ # data by row
# rows as python lists
'row0' : [1, 1+1j, 'A'],
'row1' : [2, 2+2j, 'B']
}, orient='index')
df

      0       1  2
row0  1  (1+1j)  A
row1  2  (2+2j)  B

In [44]:
(1+1j) * 1j

(-1+1j)

In [31]:
a

[2, (2+2j), 'B']

In [33]:
type(a[1])

complex

In [47]:
df = DataFrame(np.random.rand(50,5))
df

           0         1         2         3         4
0   0.533054  0.199213  0.671916  0.143791  0.102925
1   0.834438  0.898791  0.303982  0.358986  0.391366
2   0.070396  0.615826  0.306005  0.497006  0.467060
3   0.086310  0.286545  0.292417  0.094363  0.145485
4   0.137057  0.683040  0.896347  0.820444  0.500843
5   0.810006  0.084640  0.290516  0.864407  0.631835
6   0.323503  0.126374  0.581221  0.057317  0.984271
7   0.270019  0.895328  0.075138  0.533149  0.769024
8   0.647331  0.437171  0.935572  0.925502  0.807442
9   0.679332  0.879919  0.888441  0.660666  0.178601
10  0.265921  0.510018  0.903196  0.065902  0.942449
11  0.903813  0.492630  0.436564  0.919801  0.892018
12  0.465822  0.067903  0.383555  0.645573  0.274042
13  0.127573  0.849626  0.166100  0.160381  0.514961
14  0.122338  0.939478  0.065170  0.135871  0.456402
15  0.981015  0.362131  0.768772  0.319405  0.629649
16  0.701772  0.605394  0.904271  0.920866  0.559530
17  0.838622  0.214785  0.303540  0.908454  0.079505
18  0.209961  0.835928  0.760288  0.783327  0.568853
19  0.073722  0.834213  0.098664  0.122572  0.542883
20  0.928610  0.403189  0.293026  0.107092  0.338252
21  0.792375  0.383243  0.407584  0.704885  0.273003
22  0.280378  0.126376  0.910928  0.842826  0.829310
23  0.217257  0.969322  0.370783  0.630499  0.883912
24  0.048564  0.856587  0.713929  0.801940  0.645638
25  0.661330  0.868028  0.377137  0.775284  0.681650
26  0.017951  0.640552  0.202786  0.580238  0.505937
27  0.855562  0.441581  0.512529  0.083163  0.008999
28  0.450935  0.843023  0.123172  0.538765  0.990095
29  0.346639  0.865600  0.312340  0.063936  0.757759
30  0.838587  0.938233  0.774060  0.082988  0.599983
31  0.905345  0.349160  0.741495  0.998153  0.925035
32  0.339446  0.661843  0.577943  0.120966  0.204771
33  0.328146  0.359826  0.525753  0.172858  0.375706
34  0.548068  0.898391  0.092771  0.360309  0.900196
35  0.628051  0.260622  0.472988  0.518712  0.753948
36  0.548171  0.184575  0.876720  0.600477  0.277977
37  0.945402  0.846606  0.412311  0.069901  0.025306
38  0.683204  0.682196  0.934910  0.372521  0.015679
39  0.008180  0.459747  0.438037  0.060156  0.113444
40  0.918834  0.455659  0.885477  0.656335  0.990727
41  0.346595  0.251084  0.996830  0.859086  0.742122
42  0.015232  0.288848  0.808805  0.197485  0.681141
43  0.036700  0.552945  0.170656  0.448679  0.147908
44  0.644176  0.594663  0.889062  0.218780  0.688469
45  0.393539  0.225713  0.113445  0.218706  0.511443
46  0.198382  0.948901  0.798332  0.040976  0.567425
47  0.425207  0.835290  0.344664  0.878119  0.236847
48  0.864669  0.287006  0.637328  0.099672  0.237642
49  0.972153  0.178718  0.062446  0.710776  0.308927

In [54]:
df.index = pd.date_range('1/1/2005',periods=len(df), freq='M')

In [55]:
df

                   0         1         2         3         4
2005-01-31  0.533054  0.199213  0.671916  0.143791  0.102925
2005-02-28  0.834438  0.898791  0.303982  0.358986  0.391366
2005-03-31  0.070396  0.615826  0.306005  0.497006  0.467060
2005-04-30  0.086310  0.286545  0.292417  0.094363  0.145485
2005-05-31  0.137057  0.683040  0.896347  0.820444  0.500843
2005-06-30  0.810006  0.084640  0.290516  0.864407  0.631835
2005-07-31  0.323503  0.126374  0.581221  0.057317  0.984271
2005-08-31  0.270019  0.895328  0.075138  0.533149  0.769024
2005-09-30  0.647331  0.437171  0.935572  0.925502  0.807442
2005-10-31  0.679332  0.879919  0.888441  0.660666  0.178601
2005-11-30  0.265921  0.510018  0.903196  0.065902  0.942449
2005-12-31  0.903813  0.492630  0.436564  0.919801  0.892018
2006-01-31  0.465822  0.067903  0.383555  0.645573  0.274042
2006-02-28  0.127573  0.849626  0.166100  0.160381  0.514961
2006-03-31  0.122338  0.939478  0.065170  0.135871  0.456402
2006-04-30  0.981015  0.362131  0.768772  0.319405  0.629649
2006-05-31  0.701772  0.605394  0.904271  0.920866  0.559530
2006-06-30  0.838622  0.214785  0.303540  0.908454  0.079505
2006-07-31  0.209961  0.835928  0.760288  0.783327  0.568853
2006-08-31  0.073722  0.834213  0.098664  0.122572  0.542883
2006-09-30  0.928610  0.403189  0.293026  0.107092  0.338252
2006-10-31  0.792375  0.383243  0.407584  0.704885  0.273003
2006-11-30  0.280378  0.126376  0.910928  0.842826  0.829310
2006-12-31  0.217257  0.969322  0.370783  0.630499  0.883912
2007-01-31  0.048564  0.856587  0.713929  0.801940  0.645638
2007-02-28  0.661330  0.868028  0.377137  0.775284  0.681650
2007-03-31  0.017951  0.640552  0.202786  0.580238  0.505937
2007-04-30  0.855562  0.441581  0.512529  0.083163  0.008999
2007-05-31  0.450935  0.843023  0.123172  0.538765  0.990095
2007-06-30  0.346639  0.865600  0.312340  0.063936  0.757759
2007-07-31  0.838587  0.938233  0.774060  0.082988  0.599983
2007-08-31  0.905345  0.349160  0.741495  0.998153  0.925035
2007-09-30  0.339446  0.661843  0.577943  0.120966  0.204771
2007-10-31  0.328146  0.359826  0.525753  0.172858  0.375706
2007-11-30  0.548068  0.898391  0.092771  0.360309  0.900196
2007-12-31  0.628051  0.260622  0.472988  0.518712  0.753948
2008-01-31  0.548171  0.184575  0.876720  0.600477  0.277977
2008-02-29  0.945402  0.846606  0.412311  0.069901  0.025306
2008-03-31  0.683204  0.682196  0.934910  0.372521  0.015679
2008-04-30  0.008180  0.459747  0.438037  0.060156  0.113444
2008-05-31  0.918834  0.455659  0.885477  0.656335  0.990727
2008-06-30  0.346595  0.251084  0.996830  0.859086  0.742122
2008-07-31  0.015232  0.288848  0.808805  0.197485  0.681141
2008-08-31  0.036700  0.552945  0.170656  0.448679  0.147908
2008-09-30  0.644176  0.594663  0.889062  0.218780  0.688469
2008-10-31  0.393539  0.225713  0.113445  0.218706  0.511443
2008-11-30  0.198382  0.948901  0.798332  0.040976  0.567425
2008-12-31  0.425207  0.835290  0.344664  0.878119  0.236847
2009-01-31  0.864669  0.287006  0.637328  0.099672  0.237642
2009-02-28  0.972153  0.178718  0.062446  0.710776  0.308927

In [62]:
import string
import random
rows = 52
cols = 5
assert(1 <= rows <= 53) # min/max row count

In [63]:
df = DataFrame(np.random.randn(rows, cols),
columns=['c'+str(i) for i in range(cols)],
index=list((string.ascii_uppercase +
string.ascii_lowercase)[0:rows]))
df

         c0        c1        c2        c3        c4
A  0.168746  0.010510  1.862201  2.064499  0.405559
B -0.023608  1.952080  1.129656  0.069817 -0.709846
C -1.014000  0.091421  0.245507  0.957423 -1.614418
D -0.899160  0.345465  0.410474 -2.189598  1.379838
E  0.945442 -0.031546 -0.599027  0.230955 -0.250300
F  0.056726 -0.628308 -1.552877  0.091119  0.723000
G  1.449697  0.329939  1.765326 -0.508556 -1.156173
H -0.902559  0.359180  0.227971 -0.187948 -0.215476
I  0.681979  0.398629 -0.193238 -0.082808  0.403802
J -0.183291 -0.387697  0.143191 -0.824483 -1.582396
K  1.795001  0.322062  0.361018  0.851436  0.262443
L  2.833492 -0.503333 -0.536021  0.767017  0.405652
M  0.549120 -0.481741 -0.999493  0.018489 -0.106141
N  0.141536  1.338049 -2.620550  1.127036  0.184692
O  1.424036 -0.828050  1.909601  1.039523 -0.094294
P -0.774998  2.797196 -0.086141 -0.651802 -0.651029
Q -0.424956  0.431668  1.420113 -1.192430  0.983074
R -0.499848 -0.086518  2.132689 -0.715707  0.206563
S -1.538805  0.600591  1.251753 -0.542096 -1.996070
T  1.053891  0.290146  1.741569 -0.087387  0.668635
U -1.577961  0.702495 -0.961715  1.556405 -0.021184
V -0.424105 -1.164690  1.034169 -1.446482 -0.884895
W  1.250230  1.515197  2.162227  1.141190  0.435206
X -0.621852 -0.731976  0.762942  0.069732 -0.178487
Y -1.456255  1.746662  0.931746  0.421685 -0.788083
Z -0.393034 -2.501146 -0.750714  1.190893  0.647443
a  0.232594  0.531979 -0.143710 -1.201069  0.218894
b  1.688424  0.462189  1.470525 -0.230246  0.078436
c -0.860683 -0.350831  0.628463  0.969972  0.786591
d  0.139777 -0.085723  1.484046  1.539904  0.150754
e -1.206169 -1.011513  1.071793  0.495070 -1.136965
f -0.035004  0.329291  0.515616 -1.387381 -0.577133
g  0.356440  0.839478 -0.486858  0.406476  0.435792
h  0.432666 -0.664959  1.695425  2.143010  0.745861
i  0.109226  0.352742  0.270632 -0.455384  0.332286
j  1.941681  0.007889  0.440491 -0.309220 -0.419194
k  0.488696 -1.183069 -0.983073  1.220664 -0.840530
l -0.183343 -0.948489 -0.958224 -0.850536 -0.441307
m -0.385479  0.583385 -0.965982 -0.711399  0.559040
n -0.818245  0.688587 -1.138774  2.559337  0.288143
o -1.758187 -0.684822  0.381276  0.811125  1.512546
p -2.065017 -0.324316  0.852540  0.209558 -1.108113
q -0.382318  0.382660  1.114059 -0.592527 -1.074174
r -0.653588 -0.229593 -0.806801  1.356800 -0.319778
s -1.695586  0.001105  0.544471  0.061114 -3.245522
t -2.053228 -1.369988  2.494599  0.553507 -0.020378
u -0.846318 -0.635861  2.287846 -0.561647 -1.116560
v  0.580091  1.410443 -1.599323 -1.145233  0.047918
w  1.938956 -0.368074  0.798225  0.422778  0.695295
x  0.755558  1.365446  1.245180  0.731997 -0.871150
y  0.318741  0.832065 -0.297436  1.804893  0.921806
z -0.073922 -0.530588 -2.160556 -0.068617  0.838523

In [65]:
df['groupable'] = [random.choice('abcde')
for _ in range(rows)]

In [66]:
df

         c0        c1        c2        c3        c4 groupable
A  0.168746  0.010510  1.862201  2.064499  0.405559         b
B -0.023608  1.952080  1.129656  0.069817 -0.709846         a
C -1.014000  0.091421  0.245507  0.957423 -1.614418         e
D -0.899160  0.345465  0.410474 -2.189598  1.379838         a
E  0.945442 -0.031546 -0.599027  0.230955 -0.250300         c
F  0.056726 -0.628308 -1.552877  0.091119  0.723000         d
G  1.449697  0.329939  1.765326 -0.508556 -1.156173         b
H -0.902559  0.359180  0.227971 -0.187948 -0.215476         a
I  0.681979  0.398629 -0.193238 -0.082808  0.403802         a
J -0.183291 -0.387697  0.143191 -0.824483 -1.582396         c
K  1.795001  0.322062  0.361018  0.851436  0.262443         e
L  2.833492 -0.503333 -0.536021  0.767017  0.405652         e
M  0.549120 -0.481741 -0.999493  0.018489 -0.106141         a
N  0.141536  1.338049 -2.620550  1.127036  0.184692         a
O  1.424036 -0.828050  1.909601  1.039523 -0.094294         a
P -0.774998  2.797196 -0.086141 -0.651802 -0.651029         a
Q -0.424956  0.431668  1.420113 -1.192430  0.983074         a
R -0.499848 -0.086518  2.132689 -0.715707  0.206563         b
S -1.538805  0.600591  1.251753 -0.542096 -1.996070         e
T  1.053891  0.290146  1.741569 -0.087387  0.668635         e
U -1.577961  0.702495 -0.961715  1.556405 -0.021184         b
V -0.424105 -1.164690  1.034169 -1.446482 -0.884895         a
W  1.250230  1.515197  2.162227  1.141190  0.435206         a
X -0.621852 -0.731976  0.762942  0.069732 -0.178487         c
Y -1.456255  1.746662  0.931746  0.421685 -0.788083         a
Z -0.393034 -2.501146 -0.750714  1.190893  0.647443         d
a  0.232594  0.531979 -0.143710 -1.201069  0.218894         d
b  1.688424  0.462189  1.470525 -0.230246  0.078436         c
c -0.860683 -0.350831  0.628463  0.969972  0.786591         d
d  0.139777 -0.085723  1.484046  1.539904  0.150754         b
e -1.206169 -1.011513  1.071793  0.495070 -1.136965         d
f -0.035004  0.329291  0.515616 -1.387381 -0.577133         b
g  0.356440  0.839478 -0.486858  0.406476  0.435792         b
h  0.432666 -0.664959  1.695425  2.143010  0.745861         c
i  0.109226  0.352742  0.270632 -0.455384  0.332286         e
j  1.941681  0.007889  0.440491 -0.309220 -0.419194         e
k  0.488696 -1.183069 -0.983073  1.220664 -0.840530         c
l -0.183343 -0.948489 -0.958224 -0.850536 -0.441307         c
m -0.385479  0.583385 -0.965982 -0.711399  0.559040         d
n -0.818245  0.688587 -1.138774  2.559337  0.288143         a
o -1.758187 -0.684822  0.381276  0.811125  1.512546         d
p -2.065017 -0.324316  0.852540  0.209558 -1.108113         a
q -0.382318  0.382660  1.114059 -0.592527 -1.074174         c
r -0.653588 -0.229593 -0.806801  1.356800 -0.319778         e
s -1.695586  0.001105  0.544471  0.061114 -3.245522         a
t -2.053228 -1.369988  2.494599  0.553507 -0.020378         c
u -0.846318 -0.635861  2.287846 -0.561647 -1.116560         c
v  0.580091  1.410443 -1.599323 -1.145233  0.047918         c
w  1.938956 -0.368074  0.798225  0.422778  0.695295         b
x  0.755558  1.365446  1.245180  0.731997 -0.871150         a
y  0.318741  0.832065 -0.297436  1.804893  0.921806         e
z -0.073922 -0.530588 -2.160556 -0.068617  0.838523         e

In [67]:
df['groupable']

A    b
B    a
C    e
D    a
E    c
F    d
G    b
H    a
I    a
J    c
K    e
L    e
M    a
N    a
O    a
P    a
Q    a
R    b
S    e
T    e
U    b
V    a
W    a
X    c
Y    a
Z    d
a    d
b    c
c    d
d    b
e    d
f    b
g    b
h    c
i    e
j    e
k    c
l    c
m    d
n    a
o    d
p    a
q    c
r    e
s    a
t    c
u    c
v    c
w    b
x    a
y    e
z    e
Name: groupable, dtype: object

In [74]:
d = df.as_matrix()

/Users/yucheng/anaconda/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [80]:
df.head()

         c0        c1        c2        c3        c4 groupable
A  0.168746  0.010510  1.862201  2.064499  0.405559         b
B -0.023608  1.952080  1.129656  0.069817 -0.709846         a
C -1.014000  0.091421  0.245507  0.957423 -1.614418         e
D -0.899160  0.345465  0.410474 -2.189598  1.379838         a
E  0.945442 -0.031546 -0.599027  0.230955 -0.250300         c

In [79]:
df.info() # index & data types
dfs = df.describe() # summary stats cols
top_left_corner_df = df.iloc[:4, :4]

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, A to z
Data columns (total 6 columns):
c0           52 non-null float64
c1           52 non-null float64
c2           52 non-null float64
c3           52 non-null float64
c4           52 non-null float64
groupable    52 non-null object
dtypes: float64(5), object(1)
memory usage: 5.3+ KB

In [81]:
dfs

              c0         c1         c2         c3         c4
count  52.000000  52.000000  52.000000  52.000000  52.000000
mean   -0.046515   0.101648   0.364362   0.210401  -0.136573
std     1.101583   0.929071   1.200982   1.015343   0.897072
min    -2.065017  -2.501146  -2.620550  -2.189598  -3.245522
25%    -0.825264  -0.510147  -0.551773  -0.546984  -0.729405
50%    -0.054463   0.050965   0.425483   0.080468   0.013770
75%     0.556863   0.544830   1.246823   0.960560   0.435352
max     2.833492   2.797196   2.494599   2.559337   1.512546

In [86]:
df.head()

         c0        c1        c2        c3        c4 groupable
A  0.168746  0.010510  1.862201  2.064499  0.405559         b
B -0.023608  1.952080  1.129656  0.069817 -0.709846         a
C -1.014000  0.091421  0.245507  0.957423 -1.614418         e
D -0.899160  0.345465  0.410474 -2.189598  1.379838         a
E  0.945442 -0.031546 -0.599027  0.230955 -0.250300         c

In [85]:
l = df.axes # list row and col indexes
(r_idx, c_idx) = df.axes # from above
s = df.dtypes # Series column data types
b = df.empty # True for empty DataFrame
i = df.ndim # number of axes (it is 2)
t = df.shape # (row-count, column-count)
i = df.size # row-count * column-count
a = df.values # get a numpy array for df

In [107]:
df.sort_index()

         c0        c1        c2        c3        c4 groupable
A  0.168746  0.010510  1.862201  2.064499  0.405559         b
B -0.023608  1.952080  1.129656  0.069817 -0.709846         a
C -1.014000  0.091421  0.245507  0.957423 -1.614418         e
D -0.899160  0.345465  0.410474 -2.189598  1.379838         a
E  0.945442 -0.031546 -0.599027  0.230955 -0.250300         c
F  0.056726 -0.628308 -1.552877  0.091119  0.723000         d
G  1.449697  0.329939  1.765326 -0.508556 -1.156173         b
H -0.902559  0.359180  0.227971 -0.187948 -0.215476         a
I  0.681979  0.398629 -0.193238 -0.082808  0.403802         a
J -0.183291 -0.387697  0.143191 -0.824483 -1.582396         c
K  1.795001  0.322062  0.361018  0.851436  0.262443         e
L  2.833492 -0.503333 -0.536021  0.767017  0.405652         e
M  0.549120 -0.481741 -0.999493  0.018489 -0.106141         a
N  0.141536  1.338049 -2.620550  1.127036  0.184692         a
O  1.424036 -0.828050  1.909601  1.039523 -0.094294         a
P -0.774998  2.797196 -0.086141 -0.651802 -0.651029         a
Q -0.424956  0.431668  1.420113 -1.192430  0.983074         a
R -0.499848 -0.086518  2.132689 -0.715707  0.206563         b
S -1.538805  0.600591  1.251753 -0.542096 -1.996070         e
T  1.053891  0.290146  1.741569 -0.087387  0.668635         e
U -1.577961  0.702495 -0.961715  1.556405 -0.021184         b
V -0.424105 -1.164690  1.034169 -1.446482 -0.884895         a
W  1.250230  1.515197  2.162227  1.141190  0.435206         a
X -0.621852 -0.731976  0.762942  0.069732 -0.178487         c
Y -1.456255  1.746662  0.931746  0.421685 -0.788083         a
Z -0.393034 -2.501146 -0.750714  1.190893  0.647443         d
a  0.232594  0.531979 -0.143710 -1.201069  0.218894         d
b  1.688424  0.462189  1.470525 -0.230246  0.078436         c
c -0.860683 -0.350831  0.628463  0.969972  0.786591         d
d  0.139777 -0.085723  1.484046  1.539904  0.150754         b
e -1.206169 -1.011513  1.071793  0.495070 -1.136965         d
f -0.035004  0.329291  0.515616 -1.387381 -0.577133         b
g  0.356440  0.839478 -0.486858  0.406476  0.435792         b
h  0.432666 -0.664959  1.695425  2.143010  0.745861         c
i  0.109226  0.352742  0.270632 -0.455384  0.332286         e
j  1.941681  0.007889  0.440491 -0.309220 -0.419194         e
k  0.488696 -1.183069 -0.983073  1.220664 -0.840530         c
l -0.183343 -0.948489 -0.958224 -0.850536 -0.441307         c
m -0.385479  0.583385 -0.965982 -0.711399  0.559040         d
n -0.818245  0.688587 -1.138774  2.559337  0.288143         a
o -1.758187 -0.684822  0.381276  0.811125  1.512546         d
p -2.065017 -0.324316  0.852540  0.209558 -1.108113         a
q -0.382318  0.382660  1.114059 -0.592527 -1.074174         c
r -0.653588 -0.229593 -0.806801  1.356800 -0.319778         e
s -1.695586  0.001105  0.544471  0.061114 -3.245522         a
t -2.053228 -1.369988  2.494599  0.553507 -0.020378         c
u -0.846318 -0.635861  2.287846 -0.561647 -1.116560         c
v  0.580091  1.410443 -1.599323 -1.145233  0.047918         c
w  1.938956 -0.368074  0.798225  0.422778  0.695295         b
x  0.755558  1.365446  1.245180  0.731997 -0.871150         a
y  0.318741  0.832065 -0.297436  1.804893  0.921806         e
z -0.073922 -0.530588 -2.160556 -0.068617  0.838523         e

In [113]:
for (name, series) in df.iterrows():
    print('\nCol name: ' + str(name))
    print('1st value: ' + str(series))

Col name: A
1st value: c0            0.168746
c1           0.0105096
c2              1.8622
c3              2.0645
c4            0.405559
groupable            b
Name: A, dtype: object

Col name: B
1st value: c0          -0.0236077
c1             1.95208
c2             1.12966
c3           0.0698168
c4           -0.709846
groupable            a
Name: B, dtype: object

Col name: C
1st value: c0              -1.014
c1           0.0914205
c2            0.245507
c3            0.957423
c4            -1.61442
groupable            e
Name: C, dtype: object

Col name: D
1st value: c0           -0.89916
c1           0.345465
c2           0.410474
c3            -2.1896
c4            1.37984
groupable           a
Name: D, dtype: object

Col name: E
1st value: c0            0.945442
c1          -0.0315464
c2           -0.599027
c3            0.230955
c4             -0.2503
groupable            c
Name: E, dtype: object

Col name: F
1st value: c0           0.0567257
c1           -0.628308
c2            -1.55288
c3           0.0911193
c4               0.723
groupable            d
Name: F, dtype: object

Col name: G
1st value: c0             1.4497
c1           0.329939
c2            1.76533
c3          -0.508556
c4           -1.15617
groupable           b
Name: G, dtype: object

Col name: H
1st value: c0          -0.902559
c1            0.35918
c2           0.227971
c3          -0.187948
c4          -0.215476
groupable           a
Name: H, dtype: object

Col name: I
1st value: c0           0.681979
c1           0.398629
c2          -0.193238
c3          -0.082808
c4           0.403802
groupable           a
Name: I, dtype: object

Col name: J
1st value: c0          -0.183291
c1          -0.387697
c2           0.143191
c3          -0.824483
c4            -1.5824
groupable           c
Name: J, dtype: object

Col name: K
1st value: c0              1.795
c1           0.322062
c2           0.361018
c3           0.851436
c4           0.262443
groupable           e
Name: K, dtype: object

Col name: L
1st value: c0            2.83349
c1          -0.503333
c2          -0.536021
c3           0.767017
c4           0.405652
groupable           e
Name: L, dtype: object

Col name: M
1st value: c0             0.54912
c1           -0.481741
c2           -0.999493
c3           0.0184895
c4           -0.106141
groupable            a
Name: M, dtype: object

Col name: N
1st value: c0           0.141536
c1            1.33805
c2           -2.62055
c3            1.12704
c4           0.184692
groupable           a
Name: N, dtype: object

Col name: O
1st value: c0             1.42404
c1            -0.82805
c2              1.9096
c3             1.03952
c4          -0.0942944
groupable            a
Name: O, dtype: object

Col name: P
1st value: c0           -0.774998
c1              2.7972
c2          -0.0861407
c3           -0.651802
c4           -0.651029
groupable            a
Name: P, dtype: object

Col name: Q
1st value: c0          -0.424956
c1           0.431668
c2            1.42011
c3           -1.19243
c4           0.983074
groupable           a
Name: Q, dtype: object

Col name: R
1st value: c0           -0.499848
c1          -0.0865179
c2             2.13269
c3           -0.715707
c4            0.206563
groupable            b
Name: R, dtype: object

Col name: S
1st value: c0            -1.5388
c1           0.600591
c2            1.25175
c3          -0.542096
c4           -1.99607
groupable           e
Name: S, dtype: object

Col name: T
1st value: c0             1.05389
c1            0.290146
c2             1.74157
c3          -0.0873866
c4            0.668635
groupable            e
Name: T, dtype: object

Col name: U
1st value: c0            -1.57796
c1            0.702495
c2           -0.961715
c3              1.5564
c4          -0.0211841
groupable            b
Name: U, dtype: object

Col name: V
1st value: c0          -0.424105
c1           -1.16469
c2            1.03417
c3           -1.44648
c4          -0.884895
groupable           a
Name: V, dtype: object

Col name: W
1st value: c0            1.25023
c1             1.5152
c2            2.16223
c3            1.14119
c4           0.435206
groupable           a
Name: W, dtype: object

Col name: X
1st value: c0           -0.621852
c1           -0.731976
c2            0.762942
c3           0.0697318
c4           -0.178487
groupable            c
Name: X, dtype: object

Col name: Y
1st value: c0           -1.45626
c1            1.74666
c2           0.931746
c3           0.421685
c4          -0.788083
groupable           a
Name: Y, dtype: object

Col name: Z
1st value: c0          -0.393034
c1           -2.50115
c2          -0.750714
c3            1.19089
c4           0.647443
groupable           d
Name: Z, dtype: object

Col name: a
1st value: c0           0.232594
c1           0.531979
c2           -0.14371
c3           -1.20107
c4           0.218894
groupable           d
Name: a, dtype: object

Col name: b
1st value: c0            1.68842
c1           0.462189
c2            1.47052
c3          -0.230246
c4           0.078436
groupable           c
Name: b, dtype: object

Col name: c
1st value: c0          -0.860683
c1          -0.350831
c2           0.628463
c3           0.969972
c4           0.786591
groupable           d
Name: c, dtype: object

Col name: d
1st value: c0            0.139777
c1          -0.0857234
c2             1.48405
c3              1.5399
c4            0.150754
groupable            b
Name: d, dtype: object

Col name: e
1st value: c0          -1.20617
c1          -1.01151
c2           1.07179
c3           0.49507
c4          -1.13697
groupable          d
Name: e, dtype: object

Col name: f
1st value: c0          -0.0350039
c1            0.329291
c2            0.515616
c3            -1.38738
c4           -0.577133
groupable            b
Name: f, dtype: object

Col name: g
1st value: c0            0.35644
c1           0.839478
c2          -0.486858
c3           0.406476
c4           0.435792
groupable           b
Name: g, dtype: object

Col name: h
1st value: c0           0.432666
c1          -0.664959
c2            1.69542
c3            2.14301
c4           0.745861
groupable           c
Name: h, dtype: object

Col name: i
1st value: c0           0.109226
c1           0.352742
c2           0.270632
c3          -0.455384
c4           0.332286
groupable           e
Name: i, dtype: object

Col name: j
1st value: c0              1.94168
c1           0.00788919
c2             0.440491
c3             -0.30922
c4            -0.419194
groupable             e
Name: j, dtype: object

Col name: k
1st value: c0           0.488696
c1           -1.18307
c2          -0.983073
c3            1.22066
c4           -0.84053
groupable           c
Name: k, dtype: object

Col name: l
1st value: c0          -0.183343
c1          -0.948489
c2          -0.958224
c3          -0.850536
c4          -0.441307
groupable           c
Name: l, dtype: object

Col name: m
1st value: c0          -0.385479
c1           0.583385
c2          -0.965982
c3          -0.711399
c4            0.55904
groupable           d
Name: m, dtype: object

Col name: n
1st value: c0          -0.818245
c1           0.688587
c2           -1.13877
c3            2.55934
c4           0.288143
groupable           a
Name: n, dtype: object

Col name: o
1st value: c0           -1.75819
c1          -0.684822
c2           0.381276
c3           0.811125
c4            1.51255
groupable           d
Name: o, dtype: object

Col name: p
1st value: c0           -2.06502
c1          -0.324316
c2            0.85254
c3           0.209558
c4           -1.10811
groupable           a
Name: p, dtype: object

Col name: q
1st value: c0          -0.382318
c1            0.38266
c2            1.11406
c3          -0.592527
c4           -1.07417
groupable           c
Name: q, dtype: object

Col name: r
1st value: c0          -0.653588
c1          -0.229593
c2          -0.806801
c3             1.3568
c4          -0.319778
groupable           e
Name: r, dtype: object

Col name: s
1st value: c0             -1.69559
c1           0.00110533
c2             0.544471
c3            0.0611135
c4             -3.24552
groupable             a
Name: s, dtype: object

Col name: t
1st value: c0            -2.05323
c1            -1.36999
c2              2.4946
c3            0.553507
c4          -0.0203783
groupable            c
Name: t, dtype: object

Col name: u
1st value: c0          -0.846318
c1          -0.635861
c2            2.28785
c3          -0.561647
c4           -1.11656
groupable           c
Name: u, dtype: object

Col name: v
1st value: c0            0.580091
c1             1.41044
c2            -1.59932
c3            -1.14523
c4           0.0479176
groupable            c
Name: v, dtype: object

Col name: w
1st value: c0            1.93896
c1          -0.368074
c2           0.798225
c3           0.422778
c4           0.695295
groupable           b
Name: w, dtype: object

Col name: x
1st value: c0           0.755558
c1            1.36545
c2            1.24518
c3           0.731997
c4           -0.87115
groupable           a
Name: x, dtype: object

Col name: y
1st value: c0           0.318741
c1           0.832065
c2          -0.297436
c3            1.80489
c4           0.921806
groupable           e
Name: y, dtype: object

Col name: z
1st value: c0           -0.073922
c1           -0.530588
c2            -2.16056
c3          -0.0686166
c4            0.838523
groupable            e
Name: z, dtype: object

In [122]:
df.count()

c0           52
c1           52
c2           52
c3           52
c4           52
groupable    52
dtype: int64

In [131]:
m = int(input("m="))
n = int(input("n="))
s = 0

for k in range(m-n+1):
    s += (scipy.special.binom(m-k-1, n-1)*scipy.special.binom(k+n, n))
print("s = ", s)

m=20
n=5
s =  3268760.0

In [133]:
scipy.special.binom(25,10)

3268760.0

In [141]:
def remove_duplicate(seq):
    seen = set()
    seen_add = seen.add
    return [x for x in seq if not (x in seen or seen_add(x))]

In [138]:
s ='1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 1476267 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 3130980 2569998 3130980 3130980 2569998 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 3065833 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 6837116 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 4045148 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 2198856 3816690 3816690 3816690 3816690 4620308 3816690 3816690 3816690 4620308 3816690 3816690 3816690 3816690 3816690 4620308 4620308 4620308 4620308 4620308 4620308 4620308 4620308 4620308 2584484 2584484 2584484 2584484 2584484 1715219 2584484 1715219 2584484 1715219 2584484 2584484 3898080 3898080 3898080 3898080 3898080 3898080 3898080 3898080 4063048 5967732 5967732 4063048 4063048 4063048 4063048 4063048 4063048 4063048 4309796 4309796 4309796 4309796 4309796 4309796 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 6251376 3244552 3244552 3244552 3244552 3244552 5164618 5164618 5764802 5164618 5164618 5164618 5164618 5164618 5764802 5764802 5164618 5764802 5164618 5764802 5764802 5764802 5764802 5764802 5764802 5764802 5764802 5764802 1045880 1045880 1045880 1045880 4005634 4005634 4005634 4005634 4005634 4005634 1515919 1515919 1515919 1515919 1515919 1515919 1515919 1515919 1515919 1515919 1515919 1515919 2857726 2857726 4658158 4658158 4658158'
t = s.split(' ')
t

['1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '1476267',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '3130980',
 '2569998',
 '3130980',
 '3130980',
 '2569998',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '3065833',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '6837116',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '4045148',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '2198856',
 '3816690',
 '3816690',
 '3816690',
 '3816690',
 '4620308',
 '3816690',
 '3816690',
 '3816690',
 '4620308',
 '3816690',
 '3816690',
 '3816690',
 '3816690',
 '3816690',
 '4620308',
 '4620308',
 '4620308',
 '4620308',
 '4620308',
 '4620308',
 '4620308',
 '4620308',
 '4620308',
 '2584484',
 '2584484',
 '2584484',
 '2584484',
 '2584484',
 '1715219',
 '2584484',
 '1715219',
 '2584484',
 '1715219',
 '2584484',
 '2584484',
 '3898080',
 '3898080',
 '3898080',
 '3898080',
 '3898080',
 '3898080',
 '3898080',
 '3898080',
 '4063048',
 '5967732',
 '5967732',
 '4063048',
 '4063048',
 '4063048',
 '4063048',
 '4063048',
 '4063048',
 '4063048',
 '4309796',
 '4309796',
 '4309796',
 '4309796',
 '4309796',
 '4309796',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '6251376',
 '3244552',
 '3244552',
 '3244552',
 '3244552',
 '3244552',
 '5164618',
 '5164618',
 '5764802',
 '5164618',
 '5164618',
 '5164618',
 '5164618',
 '5164618',
 '5764802',
 '5764802',
 '5164618',
 '5764802',
 '5164618',
 '5764802',
 '5764802',
 '5764802',
 '5764802',
 '5764802',
 '5764802',
 '5764802',
 '5764802',
 '5764802',
 '1045880',
 '1045880',
 '1045880',
 '1045880',
 '4005634',
 '4005634',
 '4005634',
 '4005634',
 '4005634',
 '4005634',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '1515919',
 '2857726',
 '2857726',
 '4658158',
 '4658158',
 '4658158']

In [137]:
from collections import OrderedDict
list(OrderedDict.fromkeys(t))

[1, 2, 3, 4]

In [142]:
t1 = f7(t)
t1

['1476267',
 '3130980',
 '2569998',
 '3065833',
 '6837116',
 '4045148',
 '2198856',
 '3816690',
 '4620308',
 '2584484',
 '1715219',
 '3898080',
 '4063048',
 '5967732',
 '4309796',
 '6251376',
 '3244552',
 '5164618',
 '5764802',
 '1045880',
 '4005634',
 '1515919',
 '2857726',
 '4658158']

In [140]:
t1

['1476267',
 '5967732',
 '3065833',
 '2198856',
 '4063048',
 '3244552',
 '3130980',
 '6837116',
 '4620308',
 '1715219',
 '2584484',
 '5164618',
 '5764802',
 '4005634',
 '6251376',
 '4309796',
 '1515919',
 '2569998',
 '4045148',
 '3816690',
 '1045880',
 '2857726',
 '3898080',
 '4658158']

In [151]:
df

         c0        c1        c2        c3        c4 groupable
A  0.168746  0.010510  1.862201  2.064499  0.405559         b
B -0.023608  1.952080  1.129656  0.069817 -0.709846         a
C -1.014000  0.091421  0.245507  0.957423 -1.614418         e
D -0.899160  0.345465  0.410474 -2.189598  1.379838         a
E  0.945442 -0.031546 -0.599027  0.230955 -0.250300         c
F  0.056726 -0.628308 -1.552877  0.091119  0.723000         d
G  1.449697  0.329939  1.765326 -0.508556 -1.156173         b
H -0.902559  0.359180  0.227971 -0.187948 -0.215476         a
I  0.681979  0.398629 -0.193238 -0.082808  0.403802         a
J -0.183291 -0.387697  0.143191 -0.824483 -1.582396         c
K  1.795001  0.322062  0.361018  0.851436  0.262443         e
L  2.833492 -0.503333 -0.536021  0.767017  0.405652         e
M  0.549120 -0.481741 -0.999493  0.018489 -0.106141         a
N  0.141536  1.338049 -2.620550  1.127036  0.184692         a
O  1.424036 -0.828050  1.909601  1.039523 -0.094294         a
P -0.774998  2.797196 -0.086141 -0.651802 -0.651029         a
Q -0.424956  0.431668  1.420113 -1.192430  0.983074         a
R -0.499848 -0.086518  2.132689 -0.715707  0.206563         b
S -1.538805  0.600591  1.251753 -0.542096 -1.996070         e
T  1.053891  0.290146  1.741569 -0.087387  0.668635         e
U -1.577961  0.702495 -0.961715  1.556405 -0.021184         b
V -0.424105 -1.164690  1.034169 -1.446482 -0.884895         a
W  1.250230  1.515197  2.162227  1.141190  0.435206         a
X -0.621852 -0.731976  0.762942  0.069732 -0.178487         c
Y -1.456255  1.746662  0.931746  0.421685 -0.788083         a
Z -0.393034 -2.501146 -0.750714  1.190893  0.647443         d
a  0.232594  0.531979 -0.143710 -1.201069  0.218894         d
b  1.688424  0.462189  1.470525 -0.230246  0.078436         c
c -0.860683 -0.350831  0.628463  0.969972  0.786591         d
d  0.139777 -0.085723  1.484046  1.539904  0.150754         b
e -1.206169 -1.011513  1.071793  0.495070 -1.136965         d
f -0.035004  0.329291  0.515616 -1.387381 -0.577133         b
g  0.356440  0.839478 -0.486858  0.406476  0.435792         b
h  0.432666 -0.664959  1.695425  2.143010  0.745861         c
i  0.109226  0.352742  0.270632 -0.455384  0.332286         e
j  1.941681  0.007889  0.440491 -0.309220 -0.419194         e
k  0.488696 -1.183069 -0.983073  1.220664 -0.840530         c
l -0.183343 -0.948489 -0.958224 -0.850536 -0.441307         c
m -0.385479  0.583385 -0.965982 -0.711399  0.559040         d
n -0.818245  0.688587 -1.138774  2.559337  0.288143         a
o -1.758187 -0.684822  0.381276  0.811125  1.512546         d
p -2.065017 -0.324316  0.852540  0.209558 -1.108113         a
q -0.382318  0.382660  1.114059 -0.592527 -1.074174         c
r -0.653588 -0.229593 -0.806801  1.356800 -0.319778         e
s -1.695586  0.001105  0.544471  0.061114 -3.245522         a
t -2.053228 -1.369988  2.494599  0.553507 -0.020378         c
u -0.846318 -0.635861  2.287846 -0.561647 -1.116560         c
v  0.580091  1.410443 -1.599323 -1.145233  0.047918         c
w  1.938956 -0.368074  0.798225  0.422778  0.695295         b
x  0.755558  1.365446  1.245180  0.731997 -0.871150         a
y  0.318741  0.832065 -0.297436  1.804893  0.921806         e
z -0.073922 -0.530588 -2.160556 -0.068617  0.838523         e

In [159]:
df.div()

TypeError: f() missing 1 required positional argument: 'other'

In [150]:
1+1

2

In [160]:
ttest = pd.read_csv('/Users/yucheng/Downloads/others/LSTM-Neural-Network-for-Time-Series-Prediction-master/test_updated.csv')

In [219]:
ttest

,Unnamed: 0,Unnamed: 0.1,time,open,high,low,close,volume,dividend,split,adjusted_open,adjusted_high,adjusted_low,adjusted_close,adjusted_volume,id
0,0,0,2018-01-02,67.42,67.8900,67.3400,67.60,1047830.0,0.0,1.0,67.101794,67.569576,67.022172,67.280944,1047830.0,0
1,1,1,2018-01-03,67.62,69.4900,67.6000,69.32,1698899.0,0.0,1.0,67.300850,69.162024,67.280944,68.992826,1698899.0,0
2,2,2,2018-01-04,69.54,69.8200,68.7800,68.80,2231534.0,0.0,1.0,69.211788,69.490467,68.455375,68.475281,2231534.0,0
3,3,3,2018-01-05,68.73,70.1000,68.7300,69.90,1632512.0,0.0,1.0,68.405611,69.769145,68.405611,69.570089,1632512.0,0
4,4,4,2018-01-08,69.73,70.3300,69.5450,70.05,1613911.0,0.0,1.0,69.400891,69.998059,69.216764,69.719381,1613911.0,0
5,5,5,2018-01-09,70.68,72.3300,70.1700,71.77,2666711.0,0.0,1.0,70.346408,71.988620,69.838815,71.431263,2666711.0,0
6,6,6,2018-01-10,71.45,71.4500,70.1100,70.79,2957184.0,0.0,1.0,71.112773,71.112773,69.779098,70.455888,2957184.0,0
7,7,7,2018-01-11,70.92,71.1800,70.3000,70.80,1511134.0,0.0,1.0,70.585275,70.844048,69.968201,70.465841,1511134.0,0
8,8,8,2018-01-12,70.73,71.8600,70.5000,71.73,1448155.0,0.0,1.0,70.396172,71.520838,70.167257,71.391452,1448155.0,0
9,9,9,2018-01-16,72.02,72.4700,71.0600,71.23,1703398.0,0.0,1.0,71.680083,72.127959,70.724614,70.893812,1703398.0,0
10,10,10,2018-01-17,71.72,72.3100,71.5900,72.06,1824511.0,0.0,1.0,71.381499,71.968714,71.252113,71.719894,1824511.0,0
11,11,11,2018-01-18,72.20,72.5000,71.6700,72.19,1782821.0,0.0,1.0,71.859233,72.157818,71.331735,71.849281,1782821.0,0
12,12,12,2018-01-19,72.48,73.2150,72.0600,73.07,2266103.0,0.0,1.0,72.137912,72.869443,71.719894,72.725127,2266103.0,0
13,13,13,2018-01-22,73.17,73.5500,72.6000,73.48,1963669.0,0.0,1.0,72.824655,73.202862,72.257346,73.133192,1963669.0,0
14,14,14,2018-01-23,74.05,74.0750,73.2500,73.44,1213446.0,0.0,1.0,73.700502,73.725384,72.904278,73.093381,1213446.0,0
15,15,15,2018-01-24,73.66,73.8600,73.0500,73.58,1754331.0,0.0,1.0,73.312343,73.511399,72.705222,73.232720,1754331.0,0
16,16,16,2018-01-25,74.17,74.4900,73.6500,73.86,1664109.0,0.0,1.0,73.819936,74.138425,73.302390,73.511399,1664109.0,0
17,17,17,2018-01-26,74.30,74.8300,73.5900,74.82,2386914.0,0.0,1.0,73.949322,74.476821,73.242673,74.466868,2386914.0,0
18,18,18,2018-01-29,74.48,75.0000,74.3000,74.53,1321854.0,0.0,1.0,74.128472,74.646018,73.949322,74.178236,1321854.0,0
19,19,19,2018-01-30,73.99,74.0800,72.9300,72.99,1816966.0,0.0,1.0,73.640785,73.730360,72.585788,72.645505,1816966.0,0
20,20,20,2018-01-31,73.77,74.3900,73.2400,73.43,2032808.0,0.0,1.0,73.421823,74.038897,72.894325,73.083428,2032808.0,0
21,21,21,2018-02-01,73.18,73.7800,72.5100,72.83,2008177.0,0.0,1.0,72.834608,73.431776,72.167770,72.486260,2008177.0,0
22,22,22,2018-02-02,72.32,72.7600,71.2200,71.25,1955697.0,0.0,1.0,71.978667,72.416590,70.883859,70.913717,1955697.0,0
23,23,23,2018-02-05,70.86,71.4800,68.1800,68.22,2860726.0,0.0,1.0,70.525558,71.142632,67.858207,67.898018,2860726.0,0
24,24,24,2018-02-06,66.96,68.8300,66.1300,68.45,4121239.0,0.0,1.0,66.643965,68.505139,65.817882,68.126933,4121239.0,0
25,25,25,2018-02-07,68.19,69.0850,67.9050,68.06,1988391.0,0.0,1.0,67.868160,68.758936,67.584505,67.738773,1988391.0,0
26,26,26,2018-02-08,68.09,68.1600,65.0300,65.05,4163352.0,0.0,1.0,67.768632,67.838301,64.723074,64.742980,4163352.0,0
27,27,27,2018-02-09,66.40,67.5300,65.2900,66.98,4516960.0,0.0,1.0,66.086608,67.211275,64.981847,66.663871,4516960.0,0
28,28,28,2018-02-12,67.46,69.0500,67.3700,68.43,4227645.0,0.0,1.0,67.141605,68.724101,67.052030,68.107027,4227645.0,0
29,29,29,2018-02-13,67.97,68.4900,67.6600,68.34,1593877.0,0.0,1.0,67.649198,68.166744,67.340661,68.017452,1593877.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015813,1188874,1188874,2018-05-18,9.88,10.4700,9.8700,10.28,286248.0,0.0,1.0,9.880000,10.470000,9.870000,10.280000,286248.0,11496
1015814,1188875,1188875,2018-05-21,10.36,10.5400,9.6210,9.98,292220.0,0.0,1.0,10.360000,10.540000,9.621000,9.980000,292220.0,11496
1015815,1188876,1188876,2018-05-22,10.06,10.6400,9.9010,10.34,261552.0,0.0,1.0,10.060000,10.640000,9.901000,10.340000,261552.0,11496
1015816,1188877,1188877,2018-05-23,10.25,10.5790,10.1500,10.43,151388.0,0.0,1.0,10.250000,10.579000,10.150000,10.430000,151388.0,11496
1015817,1188878,1188878,2018-05-24,10.45,10.4900,9.9350,10.08,186228.0,0.0,1.0,10.450000,10.490000,9.935000,10.080000,186228.0,11496
1015818,1188879,1188879,2018-05-25,10.04,10.3600,9.9100,10.14,190409.0,0.0,1.0,10.040000,10.360000,9.910000,10.140000,190409.0,11496
1015819,1188880,1188880,2018-05-29,10.16,10.3496,10.0300,10.25,112738.0,0.0,1.0,10.160000,10.349600,10.030000,10.250000,112738.0,11496
1015820,1188881,1188881,2018-05-30,10.27,10.7010,10.1400,10.19,215699.0,0.0,1.0,10.270000,10.701000,10.140000,10.190000,215699.0,11496
1015821,1188882,1188882,2018-05-31,10.20,10.7500,10.2000,10.67,167183.0,0.0,1.0,10.200000,10.750000,10.200000,10.670000,167183.0,11496
1015822,1188883,1188883,2018-06-01,10.74,11.1500,10.5511,10.92,298834.0,0.0,1.0,10.740000,11.150000,10.551100,10.920000,298834.0,11496
1015823,1188884,1188884,2018-06-04,10.99,10.9900,10.7100,10.93,149857.0,0.0,1.0,10.990000,10.990000,10.710000,10.930000,149857.0,11496
1015824,1188885,1188885,2018-06-05,10.88,11.3890,10.8146,11.31,230493.0,0.0,1.0,10.880000,11.389000,10.814600,11.310000,230493.0,11496
1015825,1188886,1188886,2018-06-06,11.34,11.5000,11.1700,11.30,195915.0,0.0,1.0,11.340000,11.500000,11.170000,11.300000,195915.0,11496
1015826,1188887,1188887,2018-06-07,11.50,11.5200,10.8900,11.22,187932.0,0.0,1.0,11.500000,11.520000,10.890000,11.220000,187932.0,11496
1015827,1188888,1188888,2018-06-08,11.33,11.3800,11.1100,11.23,146382.0,0.0,1.0,11.330000,11.380000,11.110000,11.230000,146382.0,11496
1015828,1188889,1188889,2018-06-11,11.23,11.5200,11.1110,11.29,219965.0,0.0,1.0,11.230000,11.520000,11.111000,11.290000,219965.0,11496
1015829,1188890,1188890,2018-06-12,11.30,11.6100,11.2000,11.32,192574.0,0.0,1.0,11.300000,11.610000,11.200000,11.320000,192574.0,11496
1015830,1188891,1188891,2018-06-13,11.45,11.4700,11.1500,11.31,140610.0,0.0,1.0,11.450000,11.470000,11.150000,11.310000,140610.0,11496
1015831,1188892,1188892,2018-06-14,11.40,11.5800,11.2400,11.50,211755.0,0.0,1.0,11.400000,11.580000,11.240000,11.500000,211755.0,11496
1015832,1188893,1188893,2018-06-15,11.43,11.5100,11.1110,11.30,227029.0,0.0,1.0,11.430000,11.510000,11.111000,11.300000,227029.0,11496
1015833,1188894,1188894,2018-06-18,11.25,11.3500,10.5500,11.21,264178.0,0.0,1.0,11.250000,11.350000,10.550000,11.210000,264178.0,11496
1015834,1188895,1188895,2018-06-19,11.20,11.2100,10.7500,10.87,177555.0,0.0,1.0,11.200000,11.210000,10.750000,10.870000,177555.0,11496
1015835,1188896,1188896,2018-06-20,10.91,12.0000,10.8900,11.88,778387.0,0.0,1.0,10.910000,12.000000,10.890000,11.880000,778387.0,11496
1015836,1188897,1188897,2018-06-21,11.95,12.4200,11.8300,12.39,414143.0,0.0,1.0,11.950000,12.420000,11.830000,12.390000,414143.0,11496
1015837,1188898,1188898,2018-06-22,12.49,12.5000,11.4600,11.57,1693865.0,0.0,1.0,12.490000,12.500000,11.460000,11.570000,1693865.0,11496
1015838,1188899,1188899,2018-06-25,11.70,11.7000,10.4100,10.49,381058.0,0.0,1.0,11.700000,11.700000,10.410000,10.490000,381058.0,11496
1015839,1188900,1188900,2018-06-26,10.51,11.0000,10.5000,10.92,192854.0,0.0,1.0,10.510000,11.000000,10.500000,10.920000,192854.0,11496
1015840,1188901,1188901,2018-06-27,10.86,10.9100,9.3800,9.76,466873.0,0.0,1.0,10.860000,10.910000,9.380000,9.760000,466873.0,11496
1015841,1188902,1188902,2018-06-28,9.99,10.0000,9.6000,9.75,174428.0,0.0,1.0,9.990000,10.000000,9.600000,9.750000,174428.0,11496
1015842,1188903,1188903,2018-06-29,9.79,9.8575,9.4400,9.74,358454.0,0.0,1.0,9.790000,9.857500,9.440000,9.740000,358454.0,11496

In [223]:
df_time = pd.date_range(start='2018-01-02',end='2018-06-20', freq='B')
df_time

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15',
               ...
               '2018-06-07', '2018-06-08', '2018-06-11', '2018-06-12',
               '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-18',
               '2018-06-19', '2018-06-20'],
              dtype='datetime64[ns]', length=122, freq='B')

In [224]:
xx=[d.strftime('%Y-%m-%d') for d in pd.date_range('2018-01-02',' 2018-06-20', freq='B')]
xx

['2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10',
 '2018-01-11',
 '2018-01-12',
 '2018-01-15',
 '2018-01-16',
 '2018-01-17',
 '2018-01-18',
 '2018-01-19',
 '2018-01-22',
 '2018-01-23',
 '2018-01-24',
 '2018-01-25',
 '2018-01-26',
 '2018-01-29',
 '2018-01-30',
 '2018-01-31',
 '2018-02-01',
 '2018-02-02',
 '2018-02-05',
 '2018-02-06',
 '2018-02-07',
 '2018-02-08',
 '2018-02-09',
 '2018-02-12',
 '2018-02-13',
 '2018-02-14',
 '2018-02-15',
 '2018-02-16',
 '2018-02-19',
 '2018-02-20',
 '2018-02-21',
 '2018-02-22',
 '2018-02-23',
 '2018-02-26',
 '2018-02-27',
 '2018-02-28',
 '2018-03-01',
 '2018-03-02',
 '2018-03-05',
 '2018-03-06',
 '2018-03-07',
 '2018-03-08',
 '2018-03-09',
 '2018-03-12',
 '2018-03-13',
 '2018-03-14',
 '2018-03-15',
 '2018-03-16',
 '2018-03-19',
 '2018-03-20',
 '2018-03-21',
 '2018-03-22',
 '2018-03-23',
 '2018-03-26',
 '2018-03-27',
 '2018-03-28',
 '2018-03-29',
 '2018-03-30',
 '2018-04-02',
 '2018-04-03',
 '2018-04-04',
 '2018-04-05',
 '2018-04-06',
 '2018-04-09',
 '2018-04-10',
 '2018-04-11',
 '2018-04-12',
 '2018-04-13',
 '2018-04-16',
 '2018-04-17',
 '2018-04-18',
 '2018-04-19',
 '2018-04-20',
 '2018-04-23',
 '2018-04-24',
 '2018-04-25',
 '2018-04-26',
 '2018-04-27',
 '2018-04-30',
 '2018-05-01',
 '2018-05-02',
 '2018-05-03',
 '2018-05-04',
 '2018-05-07',
 '2018-05-08',
 '2018-05-09',
 '2018-05-10',
 '2018-05-11',
 '2018-05-14',
 '2018-05-15',
 '2018-05-16',
 '2018-05-17',
 '2018-05-18',
 '2018-05-21',
 '2018-05-22',
 '2018-05-23',
 '2018-05-24',
 '2018-05-25',
 '2018-05-28',
 '2018-05-29',
 '2018-05-30',
 '2018-05-31',
 '2018-06-01',
 '2018-06-04',
 '2018-06-05',
 '2018-06-06',
 '2018-06-07',
 '2018-06-08',
 '2018-06-11',
 '2018-06-12',
 '2018-06-13',
 '2018-06-14',
 '2018-06-15',
 '2018-06-18',
 '2018-06-19',
 '2018-06-20']

In [229]:
with open('output/dates.txt', 'w') as f:
    for item in xx:
        f.write("%s\n" % item)

FileNotFoundError: [Errno 2] No such file or directory: 'output/dates.txt'

In [232]:
file = open("stockIDs.txt", "r") 
k =[x.split('\n')[0] for x in file.readlines()] 
k
file.close()

In [233]:
k

['1',
 '3',
 '7',
 '15',
 '29',
 '39',
 '53',
 '57',
 '119',
 '124',
 '127',
 '135',
 '170',
 '171',
 '175',
 '200',
 '222',
 '231',
 '247',
 '302',
 '333',
 '344',
 '372',
 '402',
 '418',
 '430',
 '438',
 '453',
 '471',
 '480',
 '481',
 '490',
 '493',
 '540',
 '547',
 '596',
 '645',
 '648',
 '786',
 '802',
 '825',
 '858',
 '881',
 '891',
 '894',
 '898',
 '941',
 '944',
 '945',
 '947',
 '965',
 '976',
 '1048',
 '1097',
 '1102',
 '1110',
 '1144',
 '1146',
 '1157',
 '1188',
 '1189',
 '1221',
 '1225',
 '1272',
 '1318',
 '1332',
 '1384',
 '1445',
 '1475',
 '1476',
 '1501',
 '1503',
 '1547',
 '1575',
 '1593',
 '1615',
 '1618',
 '1620',
 '1648',
 '1684',
 '1716',
 '1728',
 '1782',
 '1815',
 '1839',
 '1878',
 '1897',
 '1959',
 '2021',
 '2023',
 '2035',
 '2055',
 '2063',
 '2083',
 '2099',
 '2120',
 '2183',
 '2210',
 '2218',
 '2258',
 '2273',
 '2285',
 '2289',
 '2327',
 '2337',
 '2355',
 '2361',
 '2378',
 '2388',
 '2398',
 '2422',
 '2441',
 '2442',
 '2452',
 '2513',
 '2561',
 '2574',
 '2596',
 '2598',
 '2615',
 '2616',
 '2633',
 '2688',
 '2690',
 '2726',
 '2732',
 '2812',
 '2825',
 '2847',
 '2893',
 '2910',
 '2925',
 '2948',
 '2977',
 '2992',
 '3029',
 '3056',
 '3133',
 '3145',
 '3197',
 '3209',
 '3251',
 '3262',
 '3313',
 '3323',
 '3338',
 '3340',
 '3413',
 '3416',
 '3417',
 '3420',
 '3436',
 '3439',
 '3442',
 '3449',
 '3453',
 '3486',
 '3501',
 '3509',
 '3537',
 '3544',
 '3571',
 '3573',
 '3595',
 '3619',
 '3655',
 '3684',
 '3685',
 '3699',
 '3712',
 '3782',
 '3839',
 '3840',
 '3942',
 '3948',
 '4012',
 '4117',
 '4118',
 '4121',
 '4154',
 '4160',
 '4166',
 '4178',
 '4209',
 '4213',
 '4234',
 '4265',
 '4267',
 '4294',
 '4317',
 '4333',
 '4346',
 '4352',
 '4357',
 '4358',
 '4384',
 '4400',
 '4420',
 '4445',
 '4528',
 '4542',
 '4551',
 '4589',
 '4593',
 '4637',
 '4690',
 '4698',
 '4706',
 '4711',
 '4720',
 '4754',
 '4759',
 '4769',
 '4777',
 '4820',
 '4852',
 '4865',
 '4905',
 '4933',
 '4943',
 '4975',
 '4984',
 '4998',
 '5032',
 '5049',
 '5093',
 '5141',
 '5188',
 '5191',
 '5225',
 '5254',
 '5268',
 '5317',
 '5327',
 '5382',
 '5407',
 '5409',
 '5415',
 '5440',
 '5469',
 '5476',
 '5481',
 '5484',
 '5580',
 '5581',
 '5583',
 '5585',
 '5606',
 '5671',
 '5728',
 '5749',
 '5752',
 '5756',
 '5775',
 '5788',
 '5794',
 '5815',
 '5835',
 '5842',
 '5921',
 '5936',
 '5938',
 '6045',
 '6102',
 '6120',
 '6124',
 '6162',
 '6169',
 '6182',
 '6189',
 '6190',
 '6215',
 '6243',
 '6255',
 '6300',
 '6302',
 '6306',
 '6354',
 '6364',
 '6401',
 '6489',
 '6522',
 '6563',
 '6580',
 '6589',
 '6604',
 '6612',
 '6632',
 '6635',
 '6643',
 '6644',
 '6657',
 '6684',
 '6727',
 '6775',
 '6790',
 '6844',
 '6848',
 '6886',
 '6904',
 '6938',
 '6942',
 '6944',
 '6993',
 '7005',
 '7007',
 '7040',
 '7054',
 '7064',
 '7068',
 '7102',
 '7109',
 '7136',
 '7156',
 '7174',
 '7175',
 '7188',
 '7191',
 '7218',
 '7239',
 '7251',
 '7271',
 '7282',
 '7316',
 '7349',
 '7364',
 '7373',
 '7392',
 '7423',
 '7440',
 '7443',
 '7503',
 '7505',
 '7511',
 '7527',
 '7548',
 '7554',
 '7562',
 '7574',
 '7575',
 '7610',
 '7629',
 '7640',
 '7657',
 '7677',
 '7679',
 '7705',
 '7722',
 '7739',
 '7795',
 '7810',
 '7826',
 '7890',
 '8038',
 '8046',
 '8131',
 '8159',
 '8176',
 '8184',
 '8203',
 '8251',
 '8322',
 '8332',
 '8386',
 '8442',
 '8452',
 '8560',
 '8582',
 '8605',
 '8688',
 '8693',
 '8712',
 '8746',
 '8772',
 '8800',
 '8817',
 '8870',
 '8953',
 '8979',
 '9018',
 '9047',
 '9049',
 '9055',
 '9056',
 '9083',
 '9092',
 '9109',
 '9140',
 '9178',
 '9229',
 '9255',
 '9281',
 '9290',
 '9293',
 '9299',
 '9307',
 '9312',
 '9401',
 '9412',
 '9418',
 '9422',
 '9449',
 '9455',
 '9483',
 '9485',
 '9498',
 '9517',
 '9523',
 '9537',
 '9543',
 '9630',
 '9655',
 '9672',
 '9684',
 '9706',
 '9713',
 '9760',
 '9785',
 '9803',
 '9807',
 '9851',
 '9859',
 '9870',
 '9913',
 '9942',
 '9945',
 '9993',
 '10017',
 '10021',
 '10022',
 '10040',
 '10053',
 '10054',
 '10058',
 '10088',
 '10125',
 '10174',
 '10179',
 '10192',
 '10218',
 '10238',
 '10246',
 '10273',
 '10286',
 '10290',
 '10301',
 '10305',
 '10341',
 '10353',
 '10354',
 '10361',
 '10368',
 '10379',
 '10397',
 '10416',
 '10425',
 '10455',
 '10471',
 '10545',
 '10566',
 '10573',
 '10579',
 '10598',
 '10633',
 '10644',
 '10654',
 '10670',
 '10717',
 '10722',
 '10731',
 '10743',
 '10745',
 '10756',
 '10814',
 '10828',
 '10835',
 '10870',
 '10963',
 '11032',
 '11116',
 '11120',
 '11122',
 '11126',
 '11127',
 '11130',
 '11135',
 '11136',
 '11137',
 '11143',
 '11257',
 '11262',
 '11318',
 '11320',
 '11380',
 '11407',
 '11417',
 '11433',
 '11460',
 '11474',
 '11488']

In [210]:
kk = [x.split('\n')[0] for x in k]
kk

['2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10',
 '2018-01-11',
 '2018-01-12',
 '2018-01-15',
 '2018-01-16',
 '2018-01-17',
 '2018-01-18',
 '2018-01-19',
 '2018-01-22',
 '2018-01-23',
 '2018-01-24',
 '2018-01-25',
 '2018-01-26',
 '2018-01-29',
 '2018-01-30',
 '2018-01-31',
 '2018-02-01',
 '2018-02-02',
 '2018-02-05',
 '2018-02-06',
 '2018-02-07',
 '2018-02-08',
 '2018-02-09',
 '2018-02-12',
 '2018-02-13',
 '2018-02-14',
 '2018-02-15',
 '2018-02-16',
 '2018-02-19',
 '2018-02-20',
 '2018-02-21',
 '2018-02-22',
 '2018-02-23',
 '2018-02-26',
 '2018-02-27',
 '2018-02-28',
 '2018-03-01',
 '2018-03-02',
 '2018-03-05',
 '2018-03-06',
 '2018-03-07',
 '2018-03-08',
 '2018-03-09',
 '2018-03-12',
 '2018-03-13',
 '2018-03-14',
 '2018-03-15',
 '2018-03-16',
 '2018-03-19',
 '2018-03-20',
 '2018-03-21',
 '2018-03-22',
 '2018-03-23',
 '2018-03-26',
 '2018-03-27',
 '2018-03-28',
 '2018-03-29',
 '2018-03-30',
 '2018-04-02',
 '2018-04-03',
 '2018-04-04',
 '2018-04-05',
 '2018-04-06',
 '2018-04-09',
 '2018-04-10',
 '2018-04-11',
 '2018-04-12',
 '2018-04-13',
 '2018-04-16',
 '2018-04-17',
 '2018-04-18',
 '2018-04-19',
 '2018-04-20',
 '2018-04-23',
 '2018-04-24',
 '2018-04-25',
 '2018-04-26',
 '2018-04-27',
 '2018-04-30',
 '2018-05-01',
 '2018-05-02',
 '2018-05-03',
 '2018-05-04',
 '2018-05-07',
 '2018-05-08',
 '2018-05-09',
 '2018-05-10',
 '2018-05-11',
 '2018-05-14',
 '2018-05-15',
 '2018-05-16',
 '2018-05-17',
 '2018-05-18',
 '2018-05-21',
 '2018-05-22',
 '2018-05-23',
 '2018-05-24',
 '2018-05-25',
 '2018-05-28',
 '2018-05-29',
 '2018-05-30',
 '2018-05-31',
 '2018-06-01',
 '2018-06-04',
 '2018-06-05',
 '2018-06-06',
 '2018-06-07',
 '2018-06-08',
 '2018-06-11',
 '2018-06-12',
 '2018-06-13',
 '2018-06-14',
 '2018-06-15',
 '2018-06-18',
 '2018-06-19',
 '2018-06-20']

In [235]:
np.random.seed(0) ; np.random.rand(4)

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318])

In [236]:
np.random.rand(4)

array([0.4236548 , 0.64589411, 0.43758721, 0.891773  ])

In [237]:
np.random.rand(4)

array([0.96366276, 0.38344152, 0.79172504, 0.52889492])

In [240]:
np.random.seed(2) ; np.random.rand(4)

array([0.4359949 , 0.02592623, 0.54966248, 0.43532239])

In [241]:
np.random.seed(2)

In [242]:
np.random.rand(4)

array([0.4359949 , 0.02592623, 0.54966248, 0.43532239])

In [251]:
np.array([[1,2,3]]).shape

(1, 3)

In [321]:
def extract_features(z):
     return np.c_[z.mean(axis=1), 
                  z.min(axis=1),
                  z.max(axis=1),
                  z.std(axis=1),
                 np.quantile(z, 1/3, axis=1),
                 np.quantile(z, 1/4, axis=1)]

In [313]:
u = np.array([1,2,3,4,5,6]).reshape(2,-1)
u

array([[1, 2, 3],
       [4, 5, 6]])

In [314]:
np.quantile(u, 0.5, axis=1)

array([2., 5.])

In [310]:
u = np.array([1,2,3,4,5,6])
np.quantile(u,1/3)

2.6666666666666665

In [322]:
extract_features(u)

array([[2.        , 1.        , 3.        , 0.81649658, 1.66666667,
        1.5       ],
       [5.        , 4.        , 6.        , 0.81649658, 4.66666667,
        4.5       ]])

In [283]:
np.arange(100).reshape(10, 10)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [300]:
np.array([[1, 1], [1, 2], [2, 2], [2, 3]]).shape

(4, 2)

In [291]:
idx.reshape(-1,1)

array([[1],
       [2],
       [3]])

In [ ]:
# try to use lstm

# 			if layer['type'] == 'dense':
# 				self.model.add(Dense(neurons, activation=activation))
# 			if layer['type'] == 'lstm':
# 				self.model.add(LSTM(neurons, input_shape=(input_timesteps, input_dim), return_sequences=return_seq))
# 			if layer['type'] == 'dropout':
# 				self.model.add(Dropout(dropout_rate))

kernel_init = 'normal'
def Model_lstm(input_dim, activation, classes):
    model = Sequential()

    model.add(Dense(1024, kernel_initializer = kernel_init, input_dim = input_dim))
    model.add(Activation(activation))
    model.add(BatchNormalization())
#     model.add(Dense(1024, kernel_initializer = kernel_init, input_dim = input_dim))
#     model.add(Activation(activation))
#     model.add(BatchNormalization())
    model.add(Dropout(0.3))

    model.add(Dense(512, kernel_initializer = kernel_init)) 
    model.add(Activation(activation))
    model.add(BatchNormalization())
#     model.add(Dense(512, kernel_initializer = kernel_init)) 
#     model.add(Activation(activation))
#     model.add(BatchNormalization())
    model.add(Dropout(0.3))

    model.add(Dense(64, kernel_initializer = kernel_init))    
    model.add(Activation(activation))
    model.add(BatchNormalization())
#     model.add(Dense(64, kernel_initializer = kernel_init))    
#     model.add(Activation(activation))
#     model.add(BatchNormalization())
    model.add(Dropout(0.3))
    
#     model.add(Dense(32, kernel_initializer = kernel_init))    
#     model.add(Activation(activation))
#     model.add(BatchNormalization())
#     model.add(Dense(32, kernel_initializer = kernel_init))    
#     model.add(Activation(activation))
#     model.add(BatchNormalization())
#     model.add(Dropout(0.2))

    model.add(Dense(classes, kernel_initializer = kernel_init))    
    model.add(Activation('linear'))
    
    return model